.env
Reviver_Proactive/.env
Reviver_Proactive/speech
Reviver_Proactive/transcript
Reviver_Proactive/photos
Reviver_Proactive/__pycache__
baseline/photos/
baseline/.env
.DS_Store
baseline/__pycache__
.DS_Store
.gitignore
baseline/.DS_Store
baseline/photos/dev3/_.jpeg
baseline/photos/dev3/1.jpeg
baseline/photos/dev3/2.jpeg
baseline/photos/dev3/3.jpeg
baseline/photos/dev3/4.jpeg
baseline/photos/dev3/5.jpeg
baseline/photos/dev3/6.jpeg
baseline/photos/dev3/7.jpeg
baseline/photos/dev3/8.jpeg
baseline/photos/dev3/9.jpeg
baseline/photos/dev3/10.jpeg
baseline/photos/dev3/11.jpeg
baseline/photos/dev3/12.jpeg
baseline/photos/dev3/13.jpeg
baseline/photos/dev3/14.jpeg
baseline/photos/dev3/15.jpeg
baseline/photos/dev3/16.jpeg
baseline/photos/dev3/17.jpeg
baseline/photos/dev3/18.jpeg
baseline/photos/dev3/19.jpeg
baseline/photos/dev3/20.jpeg
baseline/photos/dev3/21.jpeg
baseline/photos/dev3/22.jpeg
baseline/photos/dev3/23.jpeg
baseline/photos/dev3/24.jpeg
baseline/photos/dev3/25.jpeg
baseline/photos/dev3/26.jpeg
baseline/photos/dev3/27.jpeg
baseline/photos/dev3/28.jpeg
baseline/photos/dev3/29.jpeg
.DS_Store
.gitignore
.DS_Store
Reviver/__pycache__/Reviver.cpython-39.pyc
Reviver_Proactive/__pycache__/reviver_pro.cpython-39.pyc
Reviver_Proactive/__pycache__/voice_interface.cpython-39.pyc
Reviver_Proactive/logs/cw_20240214_0.log
Reviver_Proactive/photos/dev0214/_.jpeg
Reviver_Proactive/photos/dev0214/1.jpeg
Reviver_Proactive/photos/dev0214/2.jpeg
Reviver_Proactive/photos/dev0214/3.jpeg
Reviver_Proactive/photos/dev0214/4.jpeg
Reviver_Proactive/photos/dev0214/5.jpeg
Reviver_Proactive/photos/dev0214/6.jpeg
Reviver_Proactive/photos/dev0214/7.jpeg
Reviver_Proactive/photos/dev0214/8.jpeg
Reviver_Proactive/photos/dev0214/9.jpeg
Reviver_Proactive/photos/dev0214/10.jpeg
Reviver_Proactive/photos/dev0214/11.jpeg
Reviver_Proactive/photos/dev0214/12.jpeg
Reviver_Proactive/speech/2024_02_14_152720.wav
Reviver_Proactive/speech/2024_02_14_152805.wav
Reviver_Proactive/speech/2024_02_15_111356.wav
Reviver_Proactive/transcript/2024_02_14_152720.json
Reviver_Proactive/transcript/2024_02_15_111356.json
